*{
  box-sizing: border-box;
}
body{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(131, 148, 151);
  color: rgb(25, 25, 112);
  font-family: sans-serif;
}
#header-div{
  background-color: rgb(240, 255, 255);
  text-align: center;
  padding: 15px;
}
ul{
  list-style-type: none;
}
#nav-div {
  float:left;
  width:20%;
  text-align:center;
  overflow: auto;
}
#nav-div a {
  background-color: rgb(240, 255, 255);
  padding:8px;
  margin-top:7px;
  display:block;
  width: 100%;
  text-decoration: none;
}
/* Change the link color on hover */
  li a:hover {
  color: rgb(218, 17, 17);
  }
#section-div {
  float:left;
  width: 40%;;
  padding:15px 20px;
}
#aside-div {
  background-color:rgb(240, 255, 255);
  float:left;
  width:40%;
  padding:15px;
  margin-top:15px;
  text-align:center;
}
#picture{
  width: 300px;
}
@media (max-width: 600px) {
  #nav-div, #section-div, #aside-div  {
    width: 100%;
    height: auto;
  }

}