body{
  background-color:lightseagreen;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  h2{
    text-align: center;
    background-color: cornsilk;
    border: 10px groove aquamarine;
    border-radius: 15px;
  }
  .class1{
    font-family: sans-serif;
    font-size: 1.96em;
    background-color: aqua;
    border: 10px ridge lime; 
    border-radius: 50px;
  }
 

  
